# This workflow will build and test a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [push, pull_request]

jobs:
  verify:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11 for x64
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.9
        architecture: x64
    
    - name: Verify with Maven
      run: mvn -B verify -ntp --file pom.xml
